/* here you can put your own css to customize and override the theme */

.first_block{ margin-bottom: 0}
.header-navigation li.menu-search i { color:#FFF !important; font-size: 28px; opacity: 1; height: auto; width: auto; top: 0; background: transparent; }
.ecommerce .header-navigation li.menu-search {top:15px;}
.header-navigation li.menu-search button.btn-lg { padding: 11px 16px;}
.ecommerce .site-logo {
  padding-top: 20px;
  padding-bottom: 24px;
}
.btn-primary {
  background: #e94d1c;
  border-color: #e94d1c;
}
.ecommerce .header-navigation > ul > li > a {
  color: #222;
  padding: 18px 12px 20px;
}
.header .top-cart-block {
  margin-top: 15px;
}
.dept_drop .recent-work-item  {margin-bottom: 10px;}
.dept_drop .recent-work .recent-work-item strong { font-size: 12px;}
.dept_drop .recent-work .recent-work-item a.recent-work-description {
  padding: 6px; }
.dept_drop  .recent-work .recent-work-item .fa-link,
.dept_drop  .recent-work .recent-work-item .fa-times {
	margin-top: -75px
}

.dept_drop  .recent-work .recent-work-item:hover .fa-link,
.dept_drop  .recent-work .recent-work-item:hover .fa-times {
	left: 60px !important;
}

.brands_menu .col-md-2 img
{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.brands_menu .col-md-2:hover img {opacity: .5}
